body {
    background: #000;
    color: #fff;
}
h1 {
    background: rgba(0, 0, 0, 0);
    font-size: 12em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
	z-index: 10000;
}

/* mouse follow */
.content {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.follow-img {
	max-width: 300px;
    z-index: 1000;
    background: white;
    border-radius: 50%;
    mix-blend-mode: difference;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

/* GNB */
nav {
    float: right;
    margin-right: 30px;
}
nav li {
    width: 3.5vw;
    text-align: center;
    display: inline-block;
    margin: 20px 0;
    padding: 0 15px;
    color: #fff;
}
nav li a {
    text-decoration: none;
    color: #fff;
}

/* GNB 호버시 한글 변경 */
.nav1::before {
    content: 'ABOUT';
}
.nav1:hover::before {
    content: '검정치마';
}
.nav2::before {
    content: 'FILM';
}
.nav2:hover::before {
    content: '영상';
}
.nav3::before {
    content: 'ALBUM';
}
.nav3:hover::before {
    content: '앨범';
}
.nav4::before {
    content: 'CONCERT';
}
.nav4:hover::before {
    content: '공연';
}